<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="com.orm.SugarApp"
    package="pooa20161.iff.edu.br.citizen">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"

        android:name="com.orm.SugarApp" >  <!--Use this attribute verbatim-->

        <meta-data
            android:name="DATABASE"
            android:value="citi2.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pooa20161.iff.edu.br.citizen" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBWoPVR1p9lZTukkNqXw3dMBfTVEZgqJ1I"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/noTitle">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".city" />
        <activity android:name=".new_issue" />
        <activity android:name=".New_user" />
        <activity android:name=".Issue" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".city2"
            android:label="@string/title_activity_city2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>